source activate temfpy

export PYTHONPATH=$PWD:$PYTHONPATH

# We need access to auxiliary scripts for our workflow.
export PATH=$PWD/bin:$PATH

# Location of matplotlib configuration
export MATPLOTLIBRC=$PWD/configurations
