source activate temfpy

export PROJECT_ROOT=$PWD

# We need access to auxiliary scripts for our workflow.
export PATH=$PROJECT_ROOT/bin:$PATH

# We need access to our packages.
export PYTHONPATH=$PROJECT_ROOT:$PYTHONPATH

# Location of matplotlib configuration
export MATPLOTLIBRC=$PROJECT_ROOT/configurations
